<ion-header>
  <ion-toolbar color="blue">
    <ion-title>
      Home
    </ion-title>
    <ion-datetime [(ngModel)]="yearMonth" (ngModelChange)="init()" displayFormat="MMM-YY" class="header-date" pickerFormat="MMM YY"  color="white"></ion-datetime>
  </ion-toolbar>
  <!--<ion-navbar color="blue">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>-->
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab clear (click)="doTransaction(2, 'Add Cash Spend')"><ion-icon ios="ios-remove" md="md-remove"></ion-icon></button>
      <button ion-fab clear (click)="doTransaction(1, 'Add Cash Income')"><ion-icon ios="ios-add" md="md-add"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>

  <ion-card>
      <ion-card-header style="border-bottom: 1px solid;">
        <h1><b>Budget Chart</b></h1>
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-card-header style="border-bottom: 1px solid;">
      <h1><b>Income</b></h1>
    </ion-card-header>
    <ion-list>
      <ion-item-sliding *ngFor="let item of incomes; let i = index" [ngClass]="{'backgroundColor': (i+1)%2==0}">
      <ion-item (click)="doTransaction(1, 'Add Cash Income', item)" style="border-top: 0.5px solid #d4d2d2;">
        <h2><b>{{item.Description}}</b></h2>
        <h3>{{item.CategoryName}}</h3>
        <h4>{{item.Date | amDateFormat: 'DD-MMM-YY'}}</h4>
        <ion-badge item-right><i class="fa fa-inr" aria-hidden="true"></i> {{item.Amount | number : '1.2-2'}}</ion-badge>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
          <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item (click)="gotoIncomes()" style="border-top: 1px solid;">
      All
      <ion-icon name="arrow-dropdown" item-left></ion-icon>
    </ion-item>
    </ion-list>
  </ion-card>

    <ion-card>
      <ion-card-header style="border-bottom: 1px solid;">
        <h1><b>Latest transaction</b></h1>
      </ion-card-header>
      <ion-list>
        <ion-item-sliding *ngFor="let item of latestTransaction; let i = index" [ngClass]="{'backgroundColor': (i+1)%2==0}">
        <ion-item (click)="doTransaction(2, 'Add Cash Spend', item)" style="border-top: 0.5px solid #d4d2d2;">
          <h2><b>{{item.Description}}</b></h2>
          <h3>{{item.CategoryName}}</h3>
          <h4>{{item.Date | amDateFormat: 'DD-MMM-YY'}}</h4>
          <ion-badge item-right><i class="fa fa-inr" aria-hidden="true"></i> {{item.Amount | number : '1.2-2'}}</ion-badge>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger">
            <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <ion-item (click)="gotoSpends()" style="border-top: 1px solid;">
        All
        <ion-icon name="arrow-dropdown" item-left></ion-icon>
      </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-card-header style="border-bottom: 1px solid;">
        <h1><b>Top Spend Area</b></h1>
      </ion-card-header>
      <ion-list>        
        <ion-item *ngFor="let item of topSpend; let i = index" style="border-top: 0.5px solid #d4d2d2;">
          <h2><b>{{item.CategoryName}}</b></h2>
          <div class="top-spend-price">
            <div class="child"><i class="fa fa-inr" aria-hidden="true"></i><b>{{item.Total | number : '1.2-2'}}</b></div>
            <div class="child parcent">{{item.Parcent}}</div>
          </div>
          <div class="progress-bar">
            <span [style.width]="item.Parcent" [style.background-color]="item.backgroundcolor"></span>
          </div>
        </ion-item>        
        <ion-item (click)="gotoSpendsCategoryChart()" style="border-top: 1px solid;">
          All
          <ion-icon name="arrow-dropdown" item-left></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>
